.wrapper {
  width: 100vw;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  align-items: stretch;
}

p.color-box {
  width: 10vw;
  display: flex;
  margin: 0;
  padding: 10px;
}
p.color-box > span {
  background: #333;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

div#app {
  width: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #eeeeee61;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.controls button {
  height: 20px;
  margin: 0 5px;
}

.controls p {
  margin: 0 10px;
  height: 20px;
  line-height: 20px;
  font-weight: 800;
  font-size: 12px;
}
